/* You can add global styles to this file, and also import other style files */

.w-100 {
    width: 100%; }

.flex {
    display: flex; }

.mt3 {
    margin-top: 1rem; }

.justify-between {
    justify-content: space-between; }

.b {
    font-weight: bold; }
    
.charcoal {
    color: #303234; }

.ph0 {
     padding-left: 0;
     padding-right: 0; }

.royal-blue {
    color: #0033a0; }
                                                                                          
      
      
      
  